.rest-details-container {
  display: flex;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 25px 50px 25px;
  background-color: #94b3b6;
  border: 2px solid #609998;
}

.a:visited {
  color: blue;
}

.rest-details-image{
  width:500px;
  height: 340px;

}
.rest-name{
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 4vw;
}

.rest-address,.link,p {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'ABeeZee', sans-serif;
}
.choices-home-btn{
  margin-bottom: 10px;
}

/******************* Media *******************/

@media only screen and (min-width:300px) and (max-width:675px) {
  .content-details-container {
    margin-top: 30vh;
  }

  .rest-details-image {
    width: 280px;
    height: 200px;
    object-fit: cover;

  }
}

@media only screen and (max-height:700px) {
  .rest-details-image:hidden {}

  .hidden {
    display: none;
  }


}