.nav-btn-container {
  margin-top: 20px;
  margin-bottom: 15px;
}

.logo{
  border-radius: 30px;
}


.nav-bar{
  background-color: #739c9c;
  padding: 15px;
  contain: content;
}

.late-breakfast{
  margin-top: 0%;
}

button{
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  /* background-color: #f8e9c4; */
  padding: 4px;
  border-radius: 4px;
  border-color: transparent;
}

button:hover{
  background-color: #dc6601;
}


@media only screen and (min-width:200px) and (max-width:760px) {
  .logo {
    width: 90vw;
    margin-right: 2vw;
  }
}









