.nav-btn-container {
  margin-bottom: 15px;
}

.nav-bar{
  background-color: #739c9c;
  padding: 15px;
}

.late-breakfast{
  margin-top: 0%;
}

button{
  margin-left: 5px;
  background-color: #f8e9c4;
  padding: 4px;
  border-radius: 5px;
  border-color: transparent;
}

button:hover{
  background-color: #dc6601;
}












