.App {
  text-align: center;
  /* background-color: #f8e9c4; */
  
}

.home-page-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  height:100vh;
}

.loader-container{
align-items: center;
}
.loader{
 width: 400px;
 margin-top: 15px;
}